footer{
    height: 200px;
    width: auto;
    background-image: linear-gradient(to top, $color1, $color1, $color2);
    font-family: $font2;
    text-align: center;
    padding: 20px;
    margin: 15px;
    p{
        margin-bottom: 10px;
        font-size: 15px;
        color: $color2;
        text-align: center;
    }
    i{
        color: $color2;
        font-size: 25px;
        padding: 15px 5px 15px 5px;
    }
}

/*subir*/
.subir{
    height: 50px;
    width: 50px;
    background-color: $color1;
    position: fixed;
    bottom: 35px;
    right: 35px;
    text-align: center;
    line-height: 50px;
    border-radius: 50px;
    border: 2px solid $color2;
    color: $color2;
}