/*configuracion sitio web + importaciones*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*fonts*/
@font-face {
    font-family: betty;
    src: url(../assets/fonts/betty/Betty\ Regular.ttf);
}
@font-face {
    font-family: appleGaramond;
    src: url(../assets/fonts/apple_garamond/AppleGaramond.ttf);
}

/*declaraciones*/
$font1: betty;
$font2: appleGaramond;
$color1: #079ead;
$color2: #ffe0dd;
$color3: #ff774c;
$color4: #000000;
$color5: #c58687;

/*generalidades*/
html{
    scroll-behavior: smooth;
}
body{
    height: 100vh;
    width: 100%;
    background-image: url(../assets/img/marble2.jpg);
    background-size: cover;
    background-position: left;
}
.main1{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}
.jumbotron{
    width: 100%;
    margin: 15px 30px 15px 30px;
    background-color: $color2;
    border-radius: 0;
    padding: 20px;
    p{
        text-align: center;
    }
    h1{
        font-family: $font2;
        text-align: center;
        font-size: 40px;
        padding: 20px
    }
}
@mixin escrito($textAlign, $fontType, $fontSize){
    text-align: $textAlign;
    font-family: $fontType;
    font-size: $fontSize;
}
h2{
    padding: 0px 10px 10px 10px;
    @include escrito(center, $font1, 30px)
}
h3{
    padding: 10px;  
    margin: 20px;
    padding: 10px;
    @include escrito(center, $font1, 20px)
}
p{
    @include escrito(justify, $font2, 23px)
}
h4{
    color: $color2;
    @include escrito(center, $font1, 20px)
}

/*css index + nosotros*/
.row{
    background-color: $color2;
    margin: 15px;
    padding: 20px;
    display: flex !important;
    align-items: center !important;
    .al1{
        padding: 40px;
    }
    .ar1{
        background-image: url(../multimedia/señalética.jpg);
        background-size: cover;
        background-position: center;
        height: 500px;
    }
    .ar2{
        padding: 40px;
    }
    .al2{
        background-image: url(../multimedia/menu.jpg);
        @extend .ar1
    }
    .al3{
        padding: 40px;
    }
    .ar3{
        background-image: url(../multimedia/restaurante-uno.jpg);
        @extend .ar1
    }
    .al4{
        background-image: url(../multimedia/restaurante-dos.jfif.jpg);
        @extend .ar1
    }
    .ar4{
        padding: 40px;
    }
    iframe{
        width: 100%;
        height: 400px;
    }
    .al5{
        padding: 40px;
    }
}

/*header + nav import*/
@import "_header";

/*productos import*/
@import "_productos";

/*funciones + contacto import*/
@import "_funciones_contacto";

/*footer + subir import*/
@import "_footer";

/*responsive import*/
@import "_responsive"



