@charset "UTF-8";
/*configuracion sitio web + importaciones*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*fonts*/
@font-face {
  font-family: betty;
  src: url(../assets/fonts/betty/Betty\ Regular.ttf);
}
@font-face {
  font-family: appleGaramond;
  src: url(../assets/fonts/apple_garamond/AppleGaramond.ttf);
}
/*declaraciones*/
/*generalidades*/
html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 100%;
  background-image: url(../assets/img/marble2.jpg);
  background-size: cover;
  background-position: left;
}

.main1 {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}

.jumbotron {
  width: 100%;
  margin: 15px 30px 15px 30px;
  background-color: #ffe0dd;
  border-radius: 0;
  padding: 20px;
}
.jumbotron p {
  text-align: center;
}
.jumbotron h1 {
  font-family: appleGaramond;
  text-align: center;
  font-size: 40px;
  padding: 20px;
}

h2 {
  padding: 0px 10px 10px 10px;
  text-align: center;
  font-family: betty;
  font-size: 30px;
}

h3 {
  padding: 10px;
  margin: 20px;
  padding: 10px;
  text-align: center;
  font-family: betty;
  font-size: 20px;
}

p {
  text-align: justify;
  font-family: appleGaramond;
  font-size: 23px;
}

h4 {
  color: #ffe0dd;
  text-align: center;
  font-family: betty;
  font-size: 20px;
}

/*css index + nosotros*/
.row {
  background-color: #ffe0dd;
  margin: 15px;
  padding: 20px;
  display: flex !important;
  align-items: center !important;
}
.row .al1 {
  padding: 40px;
}
.row .ar1, .row .al4, .row .ar3, .row .al2 {
  background-image: url(../multimedia/señalética.jpg);
  background-size: cover;
  background-position: center;
  height: 500px;
}
.row .ar2 {
  padding: 40px;
}
.row .al2 {
  background-image: url(../multimedia/menu.jpg);
}
.row .al3 {
  padding: 40px;
}
.row .ar3 {
  background-image: url(../multimedia/restaurante-uno.jpg);
}
.row .al4 {
  background-image: url(../multimedia/restaurante-dos.jfif.jpg);
}
.row .ar4 {
  padding: 40px;
}
.row iframe {
  width: 100%;
  height: 400px;
}
.row .al5 {
  padding: 40px;
}

/*header + nav import*/
/*css header + nav*/
header {
  justify-content: space-between;
  display: flex;
  width: auto !important;
  background-image: linear-gradient(to bottom, #079ead, #079ead, #ffe0dd);
  margin: 15px;
}
header .barra {
  font-family: betty;
  font-size: 20px;
  list-style: none;
  margin-left: auto;
}
header .logo {
  width: 150px !important;
  margin: 15px;
}
header .logo:hover {
  transform: scale(1.1) !important;
  transition: all 0.7s;
}
header .navbar-toggler-icon {
  text-align: right !important;
}

nav {
  text-align: center;
  width: 100%;
}
nav li {
  padding: 20px;
  display: inline-block;
}
nav a {
  text-decoration: none !important;
  color: #ffe0dd !important;
}
nav a:hover {
  color: #000000 !important;
  font-size: 23px;
}

/*productos import*/
.card {
  margin: 15px;
  padding: 5px;
  background-color: #ff774c;
  text-align: center;
  box-shadow: 1px 1px 5px #000000;
}
.card .btn {
  font-family: betty;
  color: #ffe0dd;
  background-color: #079ead;
}
.card .btn:hover {
  background-color: #ffe0dd;
  color: #ff774c;
  border: none;
}
.card .card-text {
  text-align: center;
}
.card .card-img-top:hover {
  transform: scale(1.1);
  transition: all 0.3s;
  filter: grayscale(0%);
  filter: saturate(1.2);
}
.card .card-img-top {
  border-radius: 10px;
  filter: grayscale(40%);
}

.productos {
  display: flex;
  justify-content: space-around;
}

/*funciones + contacto import*/
/*css funciones*/
#multimedia {
  height: 400px;
  width: 100%;
  padding: 20px;
}

/*css contacto*/
.main3 {
  margin: 30px;
  background-image: url(../assets/img/marble.jpg);
  padding: 10px;
  background-size: cover;
  background-position: center;
}
.main3 form {
  text-align: left;
  font-family: secondaryFont;
  font-size: 20px;
  height: auto;
  width: 300px;
  padding: 30px;
  margin: 30px;
  border-radius: 4px;
  background-image: linear-gradient(to right top, #ff774c, #ffe0dd, #ff774c);
  border: solid 2px #ff774c;
  margin-top: 50px;
  border-radius: 5px;
}

/*footer + subir import*/
footer {
  height: 200px;
  width: auto;
  background-image: linear-gradient(to top, #079ead, #079ead, #ffe0dd);
  font-family: appleGaramond;
  text-align: center;
  padding: 20px;
  margin: 15px;
}
footer p {
  margin-bottom: 10px;
  font-size: 15px;
  color: #ffe0dd;
  text-align: center;
}
footer i {
  color: #ffe0dd;
  font-size: 25px;
  padding: 15px 5px 15px 5px;
}

/*subir*/
.subir {
  height: 50px;
  width: 50px;
  background-color: #079ead;
  position: fixed;
  bottom: 35px;
  right: 35px;
  text-align: center;
  line-height: 50px;
  border-radius: 50px;
  border: 2px solid #ffe0dd;
  color: #ffe0dd;
}

/*responsive import*/
/*vista celular*/
@media only screen and (max-width: 767px) {
  .row {
    margin: 0px;
    margin-top: 15px;
  }
  .row .al1 {
    padding: 10px;
  }
  .row .ar2 {
    padding: 10px;
  }
  .row .al5 {
    padding: 10px;
  }
  .row .al3 {
    padding: 10px;
  }
  .row .ar4 {
    padding: 10px;
  }
  .jumbotron {
    margin: 15px;
  }
  .inverso {
    display: flex;
    flex-wrap: wrap-reverse;
  }
}

/*# sourceMappingURL=estilos.css.map */
