/*generalidades*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    height: 100vh;
    width: 100%;
    background-image: url(../assets/img/aqua.jpg);
    background-size: cover;
    background-position: left;
}
h1{
    font-family: appleGaramond;
    text-align: center;
    font-size: 40px;
    padding: 20px
}
h2{
    text-align: center;
    font-family: Betty;
    font-size: 30px;
    text-transform: capitalize;
    padding: 0px 10px 10px 10px;
}
h3{
    text-align: center;
    font-family: Betty;
    font-size: 20px;
    text-transform: capitalize;
    padding: 10px;  
    margin: 20px;
    padding: 10px
}
p{
    text-align: justify;
    font-family: appleGaramond;
    font-size: 23px;
}

/*css index + nosotros*/
.jumbotron{
width: 100%;
margin: 15px 30px 15px 30px;
background-color: #ffe0dd;
border-radius: 0;
padding: 20px;
}
.ar1{
    background-image: url(../multimedia/señalética.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
}
.al2{
    background-image: url(../multimedia/menu.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
}
.row{
    background-color: #ffe0dd;
    margin: 15px;
    padding: 20px;
}
.ar3{
    background-image: url(../multimedia/restaurante-uno.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
}
.al4{
    background-image: url(../multimedia/restaurante-dos.jfif.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
}
.main1{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

/*css productos*/
.card{
    margin: 15px;
    padding: 5px;
    background-color: #ff774c;
    text-align: center;
    box-shadow: 1px 1px 5px black;
}
.btn{
    font-family: Betty;
    color: #ffe0dd;
    background-color: #079ead;
}
.card-text{
    text-align: center;
}
.card-img-top:hover{
    transform: scale(1.1);
    transition: all 0.3s;
    filter: grayscale(0%);
    filter: saturate(1.2);
}
.card-img-top{
border-radius: 10px;
filter: grayscale(40%);
}

/*css funciones*/
#multimedia{
    height: 400px;
    width: 100%;
    padding: 20px;
}

/*css contacto*/
.main3{
    margin: 30px;
    grid-area: main3;
    background-image: url(../assets/img/orange.jpg);
    padding: 10px;
}
form{
    text-align: left;
    font-family: secondaryFont;
    font-size: 20px;
    height: auto;
    width: 300px;
    padding: 30px;
    margin: 30px;
    border-radius: 4px;
    background-image: linear-gradient(to right top, #ff774c, #ffe0dd, #ff774c);
    border: solid 2px #ff774c;
    margin-top: 50px;
    border-radius: 5px;
}

/*css header + nav*/
header{
    justify-content: space-between;
    display: flex;
    width: auto !important;
    background-image: linear-gradient(to bottom, #079ead, #079ead, #ffe0dd);
    margin: 15px;
}
.barra{
    margin: 15px;
    font-family: Betty;
    font-size: 20px;
    color: #ffe0dd;
    list-style: none;
}
nav li{
    padding: 20px;
    display: inline-block;
}
.logo{
    width: 150px !important;
    margin: 15px;
}
.logo:hover{
    transform: scale(1.1);
    transition: all 0.7s;
}
nav a{
    text-decoration: none !important;
    color: #ffe0dd !important;
}
nav a:hover{
    color: #000000 !important;
}
nav{
    text-align: center;
    width: 100%;
}
.navbar-toggler-icon{
    text-align: right !important;
}
/*css footer*/
footer{
    height: 200px;
    width: auto;
    background-image: linear-gradient(to top, #079ead, #079ead, #ffe0dd);
    font-family: appleGaramond;
    text-align: center;
    padding: 20px;
    margin: 15px;
}
h4{
    font-family: Betty;
    color: #ffe0dd;
    padding: 15px;
    font-size: 20px;
}
footer p{
    margin-bottom: 10px;
    font-size: 15px;
    color: #ffe0dd;
    text-align: center;
}
footer i{
    color: #ffe0dd;
    font-size: 25px;
    padding: 15px 5px 15px 5px;
}

/*subir*/
.subir{
    height: 50px;
    width: 50px;
    background-color: #079ead;
    position: fixed;
    bottom: 35px;
    right: 35px;
    text-align: center;
    line-height: 50px;
    border-radius: 50px;
    border: 2px solid #ffe0dd;
    color: #ffe0dd;
}

/*fonts*/
@font-face {
    font-family: betty;
    src: url(../assets/fonts/betty/Betty\ Regular.ttf);
}
@font-face {
    font-family: appleGaramond;
    src: url(../assets/fonts/apple_garamond/AppleGaramond.ttf);
}

